footer {
  background-color: #f5f5f5;
  color: #666;
  padding: 20px;
  font-size: 16px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
