<nav class="navbar navbar-expand-lg navbar-light bg-light px-5 py-3">
  <!-- <ul>
    <li *ngFor="let elt of categories">
      {{ elt.libelle }}
    </li>
  </ul> -->
  <a class="navbar-brand" href="#">BAM Store</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Ordinateurs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/PcPortable">PC Portables</a>
          <a class="dropdown-item" routerLink="/PcBureau">PC Bureau</a>
          <li><hr class="dropdown-divider" /></li>
          <a class="dropdown-item" routerLink="/PcAccessoires"> Accessoires </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Téléphonie
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/smartphone">Smartphones</a>
          <a class="dropdown-item" routerLink="/tel-fixe">Téléphone fixe</a>
          <li><hr class="dropdown-divider" /></li>
          <a class="dropdown-item" routerLink="/tel-accessoires">
            Accessoires
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Stockage
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/disque-dur">Disque dur</a>
          <a class="dropdown-item" routerLink="/cle-usb">Clé USB</a>
          <li><hr class="dropdown-divider" /></li>
          <a class="dropdown-item" routerLink="/stockage-accessoires">
            Accessoires
          </a>
        </div>
      </li>
    </ul>
    <div class="ms-auto">
      <a routerLink="/Connexion" *ngIf="!checkUserLoggedIn()">
        <button class="btn btn-outline-success m-1" type="submit">
          Connexion
        </button>
      </a>
      <button
        *ngIf="checkUserLoggedIn()"
        class="btn btn-outline-success m-1"
        type="submit"
        (click)="logout()"
      >
        Deconnexion
      </button>
      <a routerLink="/panier">
        <button class="btn btn-success m-1" type="submit">Panier</button>
      </a>
    </div>
  </div>
</nav>
