<nav class="navbar navbar-expand-lg navbar-light bg-light px-5 py-3">
  <!-- <ul>
    <li *ngFor="let elt of categories">
      {{ elt.libelle }}
    </li>
  </ul> -->
  <a class="navbar-brand" href="#">HighTech Store</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item dropdown" *ngFor="let elt of categories">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ elt.libelle }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/PcPortable">sous catégorie</a>
          <a class="dropdown-item" routerLink="/PcBureau">sous catégorie</a>
          <li><hr class="dropdown-divider" /></li>
          <a class="dropdown-item" routerLink="/PcAccessoires"
            >sous catégorie</a
          >
        </div>
      </li>
    </ul>
    <div class="ms-auto">
      <a routerLink="/Connexion">
        <button class="btn btn-outline-success m-1" type="submit">
          Connexion
        </button>
      </a>
    </div>
  </div>
</nav>
