@media (max-width: 576px) {
    #div-carousel {
        padding-top: 2rem;
        padding: 6rem 14rem;
        margin-right: 0;
        margin-left: 0;
        border-width: 0.2rem;
    }
 }

 @media (min-width: 576px) {
    #div-carousel {
        padding-top: 2rem;
        padding: 3rem 7rem;
        margin-right: 0;
        margin-left: 0;
        border-width: 0.2rem;
    }
 }