<header class="header">
  <div class="container">
    <div
      id="carouselExampleSlidesOnly"
      class="carousel slide p-5"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="assets/images/home/header.jpg"
            class="d-block w-100"
            style="height: 500px"
          />
        </div>
        <div class="carousel-item">
          <img
            src="assets/images/home/header-2.jpeg"
            class="d-block w-100"
            style="height: 500px"
          />
        </div>
        <div class="carousel-item">
          <img
            src="assets/images/home/header-3.jpeg"
            class="d-block w-100"
            style="height: 500px"
          />
        </div>
      </div>
    </div>
  </div>
</header>
